header {
  background-color: red;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: flex-wrap;
}

article {
  width: 200px;
  height: 400px;
  background-color: lightgray;
}

.card-header {
  background-color: blue;
  color: white;
  height: 100px;
}

.card-body {
  background-color: white;
}